<div class="container-fluid">

  <div class="row">
    <div class="container">
      <div class="col-md-12" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 bcolor1">
                <p class="color1 title" style="font-size: 25px;" >
                  About Us
                </p>
                
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--First Row-->
  <div class="row">
    
    <div class="col-md-5" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor1">
              <p class="color1 title" >
                Rishabh Jain</p>
              <p class="color1 subtitle">
              Developer of the Company.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-7" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor2">
            <p class="color2 contain">
              Hallo folks, I am very influance guys very passinate about doing new thing in existing life.
              I feel very proundful that i am son of Mahendra Kumar ( Onwer of Vallabh Fashion). Presently,
            I am employe of BNP Paribas india sloution</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End of first row-->

  <!--Second Row-->
  <div class="row">

    <div class="col-md-7" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor2">
            <p class="color2 contain"> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, 
            ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-5" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12 bcolor1" >
            <p class="color1 title">
            Rishabh Jain</p>
            <p class="color1 subtitle">
            Developer of the Company.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End Second row-->

   <!--Third Row-->
   <div class="row">
    
    <div class="col-md-5" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor1">
            <p class="color1 title" >
            Rishabh Jain</p>
            <p class="color1 subtitle">
            Developer of the Company.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-7" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor2">
            <p class="color2 contain"> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, 
            ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End of third row-->

  <!--Fourth Row-->
  <div class="row">

    <div class="col-md-7" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 bcolor2">
            <p class="color2 contain"> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, 
            ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-5" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12 bcolor1" >
            <p class="color1 title">
            Rishabh Jain</p>
            <p class="color1 subtitle">
            Developer of the Company.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End of Fourth row-->

</div>
